<!DOCTYPE html>
<html>
  <head>
    <title>BLOC</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Hi! We're BLOC.</h1>
    <!-- Firebase: bottom of HTML or BEFORE other script tags -->
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyA3EIwiN6XnlIpDw_ofvGjFNuqDp1SvgW0",
        authDomain: "bloc-platform-8bde4.firebaseapp.com",
        databaseURL: "https://bloc-platform-8bde4.firebaseio.com",
        storageBucket: "bloc-platform-8bde4.appspot.com",
      };
      firebase.initializeApp(config);
    </script>
  </body>
</html>
